/*  GLOBAL RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  BASE STYLES  */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #141028;
    background-image: radial-gradient(circle at 20% 20%, rgba(255,255,255,0.06), transparent 30%);
    color: white;
}

/*  THEME BUTTON  */
.theme-btn {
    position: fixed;
    top: 25px;
    right: 30px;
    background: none;
    border: none;
    color: #a78bfa;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    z-index: 10;
}

/*  HERO  */
.the-top {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    align-items: center;
    text-align: left;
}

.the-top h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.the-top h2 {
    font-size: 30px;
    font-weight: 500;
}

#quote {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    color: #e5e5e5;
}

#name {
    color: #a78bfa;
}

/*  ABOUT  */
.about-container {
    display: flex;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}

.about-container h2 {
    width: 30%;
    font-size: 36px;
    color: #d1d5db;
}

.about-container p {
    width: 60%;
    line-height: 2.5;
    font-size: 18px;
}

/*  SECTION SPACING  */
section {
    padding: 60px 20px;
}



/*  PROJECTS  */
.projects {
    color: #d1d5db;
}

.projects h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}

.cards-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    background-color: #1c1538;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 40px;
}

.card:hover {
    transform: translateY(-10px);
}

.full {
    display: none;
}

/*  BUTTON  */
button {
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    color: #fff;
    transform: scale(1.05);
}

/*  CONTACT  */
.contact-container {
    max-width: 1100px;
    margin: 0 auto;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #d1d5db;
    font-size: 36px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.contact-form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/*  FORM  */
.contact-form input,
.contact-form textarea {
    background-color: #1c1538;
    border: 1px solid #2a2150;
    padding: 12px;
    border-radius: 8px;
    color: white;
}

.contact-form button {
    background-color: #a78bfa;
    color: #141028;
    padding: 12px;
    border-radius: 8px;
}

/*  LIGHT MODE  */
body.light-mode {
    background-color: #f5f3ff;
    color: #5b21b6;
}

body.light-mode .card {
    background-color: white;
}

/*  SKILLS */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills h2 {
    text-align: center;
    font-size: 36px;
}

#scene {
    width: 100%;
    max-width: 320px;
    height: 320px;
    margin: 40px auto; 
    position: relative;
    perspective: 900px;
    
}

/* Sphere */
#sphere {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

/* Tags */
.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 7px 18px;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid;
    transform-style: preserve-3d;
}

/*  RESPONSIVE  */
@media (max-width: 768px) {

    .the-top {
        justify-content: center;
        padding-left: 0;
        text-align: center;
    }

    .about-container,
    .contact-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }
}


